.front {
  display: block;
  background-color: lightblue;
  height: 100px;
  width: 75px;
  border: solid 2px black;

}

.back {
  display: block;
  background-color: black;
  height: 100px;
  width: 75px;
  border: solid 2px red;
}

.cardText {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}
