.front {
  display: block;
  background-color: lightblue;
  height: 100px;
  width: 75px;
  border: solid 2px black;

}

.back {
  display: block;
  background-color: black;
  height: 100px;
  width: 75px;
  border: solid 2px white;
}

img{
  display: block;
  width:100%;
  height:100%;
  object-fit:fill;
}

.cardFront{
  display: block;
  width:100%;
  height:100%;
}
