.front {
  display: block;
  background-color: lightblue;
  height: 100px;
  width: 75px;
  border: solid 2px red;
}

.back {
  display: block;
  background-color: black;
  height: 100px;
  width: 75px;
  border: solid 2px red;
}
